*{
    font-family: Helvetica;
    color: #dfdede;
    text-decoration: none;
}
body{
    background-image: url(colinas.PNG);
}
.itens{
    display: flex;
    flex-direction: column;
    gap: 8px;


    width: 800px;
    height: 700px;
    
    margin-left: 23%;
    margin-top: 5%;

    background-color: #e9e8e8;
    border-radius: 15%;
    box-shadow: 0px 0px 10px #2d2d2d;

}

.salas{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 200px;
    margin-left: 35%;
    

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black;
    background-color: rgb(38, 196, 80);
    margin-top: 5%;
}


.sala01{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    height: 50px;
    width: 150px;

    text-decoration: none;
    margin-left: 10%;
    
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black;
    background-color: rgb(38, 196, 80);
    margin-top: 5%;
    cursor: pointer;
}

.sala01:hover{
    background-color: #dfdede;
    color: black;
}


.addsalas{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    height: 50px;
    width: 50px;

    margin-left: 10%;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black;
    background-color: rgb(38, 196, 80);
    margin-top: 5%;
    cursor: pointer;
}

.addsalas:hover{
    background-color: #dfdede;
    color: black;
}
